# # ALL
# azure_all_subnet_range_list = ["172.22.0.0/16", ] # Azure 内のサブネット全体レンジリスト

# hub
hub_resource_group      = "hub-rg"            # Hub リソースグループ名
hub_environment_tags    = "homelab"           # Hub リソースタグ
hub_location            = "japaneast"         # Hub ロケーション (japaneast = 東日本リージョン)
hub_vnet_name           = "hub-vnet"          # Hub VNET 名
hub_address_space       = ["172.22.0.0/20", ] # Hub VNET アドレススペース (List)
hub_GatewaySubnet       = "172.22.1.0/24"     # Hub VNET GatewaySubnet
hub_AzureFirewallSubnet = "172.22.2.0/24"     # 現状未構築

## hub vpn to onprem
vpn_name                   = "homelab-vpn"                      # Azure 側 VPN リソース名
onprem_public_ip           = "X.X.X.X"                          # Home Lab 側 VPN Public IP
shared_key                 = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" # openssl rand -base64 24 などで作成した共通鍵
onprem_bgp_neighbor_subnet = "192.168.131.0/24"                 # Home Lab 側 BGP Neighbor Subnets
onprem_asn                 = "65001"                            # Home Lab 側 BGP AS Number
onprem_bgp_neighbor_addr   = "192.168.131.2"                    # Home Lab 側 BGP Neighbor Peering IP
bgp_asn                    = "65021"                            # Azure 側 BGP AS Number

firewall_name = "hub-azure-firewall" # 現状未構築
