hub_resource_group_name  = "hub-rg"                                                                                                                         # hub resource
hub_virtual_network_id   = "/subscriptions/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX/resourceGroups/hub-rg/providers/Microsoft.Network/virtualNetworks/hub-vnet" # hub vnet id (サブスクリプション ID は例なので各リソース生成後に出力して穴埋めする)
hub_virtual_network_name = "hub-vnet"                                                                                                                       # hub vnet name

spoke_resource_groups = [
  {
    resource_group_name  = "spoke1-rg"                                                                                                                            # spoke1 resource group name
    virtual_network_id   = "/subscriptions/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX/resourceGroups/spoke1-rg/providers/Microsoft.Network/virtualNetworks/spoke1-vnet" # spoke1 vnet id (サブスクリプション ID (XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX) は例なので各リソース生成後に出力して穴埋めする)
    virtual_network_name = "spoke1-vnet"                                                                                                                          # spoke1 vnet name
  },
  {
    resource_group_name  = "spoke2-rg"                                                                                                                            # spoke2 resource group name
    virtual_network_id   = "/subscriptions/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX/resourceGroups/spoke2-rg/providers/Microsoft.Network/virtualNetworks/spoke2-vnet" # spoke2 vnet id (サブスクリプション ID (XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX) は例なので各リソース生成後に出力して穴埋めする)
    virtual_network_name = "spoke2-vnet"                                                                                                                          # spoke2 vnet name
  },
]

environment_tags = "homelab" # リソースタグ
