# Resouce Group Param
resource_group_name = "rg-hub-testinfra-japaneast-001" # リソースグループ名 (../terraform.tfvarsと同じ)
location            = "japaneast" # ロケーション (japaneast = 東日本リージョン) (../terraform.tfvarsと同じ)

## Azure Firewwall
azure_firewall_name = "afw-testinfra-japaneast-001"

# rules
test_rules = [
  {
    name                  = "172_to_172_ICMP_permit"
    source_addresses      = ["172.16.0.0/12", ]
    destination_addresses = ["172.16.0.0/12", ]
    protocols             = ["ICMP"]
    destination_ports     = ["*"]
  },
  {
    name                  = "172_to_172_and_192_permit"
    source_addresses      = ["172.16.0.0/12", ]
    destination_addresses = ["172.16.0.0/12", ]
    protocols             = ["TCP"]
    destination_ports     = ["22"]
  },
]
