# Hub VNET Paramater / ../vnet Outputs
resource_group_name = "rg-hub-testinfra-japanwest-001"

virtual_network_name = "vnet-testinfra-japanwest-001"

virtual_network_id = ""
# Spoke Peering
spoke_peering_vnets = {
  vnet-testspoke-japanwest-001 = ""
}
