# Resouce Group Param
resource_group_name = "rg-hub-testinfra-japaneast-001" # リソースグループ名 (../terraform.tfvarsと同じ)
location            = "japaneast" # ロケーション (japaneast = 東日本リージョン) (../terraform.tfvarsと同じ)

## Azure Firewwall
environment_tags = "afw-testinfra-japaneast-001"
subnet_id        = "/subscriptions/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXX/resourceGroups/rg-hub-testinfra-japaneast-001/providers/Microsoft.Network/virtualNetworks/vnet-testinfra-japaneast-001/subnets/AzureFirewallSubnet"
firewall_name    = "afw-testinfra-japaneast-001"
