# VNET Param
resource_group_name  = "je-hub-rg"         # リソースグループ名
location             = "japaneast"         # ロケーション (japaneast = 東日本リージョン)
virtual_network_name = "je-hub-vnet"       # VNET 名
address_space        = ["172.22.0.0/20", ] # VNET アドレススペース (List)
subnets = {
  GatewaySubnet = {
    address_prefix = "172.22.1.0/24" # Gateway 用 Subnet
  },
  AzureFirewallSubnet = {
    address_prefix = "172.22.2.0/24" # Azure Firewall 用 Subnet
  },
  RouterSubnet = {
    address_prefix = "172.22.3.0/24" # Router 用 Subnet
  },
}

# to SubRegion Peering
subregion_virtual_network_name = "jw-hub-vnet" # 別リージョン Hub VNET 名
subregion_virtual_network_id   = ""            # 別リージョン Hub VNET ID

# to SubRegion Route
to_subregion_next_hop_address = "172.23.3.254"

to_subregion_destination_subnet_list = ["172.23.0.0/16", ]

## hub vpn to onprem
vpn_name                   = "homelab-vpn"      # Azure 側 VPN リソース名
onprem_public_ip           = ""                 # Home Lab 側 VPN Public IP
shared_key                 = ""                 # openssl rand -base64 24 などで作成した共通鍵
onprem_bgp_neighbor_subnet = "192.168.132.0/24" # Home Lab 側 BGP Neighbor Subnets
onprem_asn                 = "65001"            # Home Lab 側 BGP AS Number
onprem_bgp_neighbor_addr   = "192.168.132.2"    # Home Lab 側 BGP Neighbor Peering IP
bgp_asn                    = "65021"            # Azure 側 BGP AS Number
