resource_group_name  = "rg-spoke-testinfra-japanwest-001"       # リソースグループ名
location             = "japanwest"          # ロケーション (japanwest = 西日本リージョン)
virtual_network_name = "vnet-testspoke-japanwest-001"     # VNET 名
address_space        = ["172.23.16.0/20", ] # VNET アドレススペース (List)

subnets = {
  VmSubnet = {
    address_prefix = "172.23.16.0/24"
  },
}

hub_virtual_network_name = "vnet-testinfra-japanwest-001"
hub_virtual_network_id   = ""

# to Hub Route
to_hub_next_hop_address = "172.23.3.254" # Hub のルーティング先 (Hub の Azure Firewall やルーター VM の IP)

to_hub_destination_subnet_list = ["10.0.0.0/8", "172.16.0.0/12", "192.168.0.0/16", ] # Hub 経由でルーティングするサブネット
